
/***************************
****************************
1. BOOTSTRAP OVERRIDES

2. NAVBAR

3. BODY SECTION (SUB NAV + VIDEO SECTION)

4. COMMENT SECTION

5. LEFT SIDE NAVIGATION
****************************
***************************/

/* BOOTSTRAP OVERRIDES */
/* Flatten boostrap */
.well, .navbar-inverse, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
 	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-collapse: collapse !important;
	background-image: none !important;
}

body {
	padding-top: 70px;
}

p, a, h1, h2, h3, h4, h5, li {
	color: rgb(150,150,150);
}

a:hover, a:focus {
	color: rgb(115,192,202);
}

.dropdown-menu {
	background-color: rgb(42,46,49);
}

.dropdown-menu>li>a {
	color: rgb(158, 158, 158);
	font-weight: bold;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #383D40;
}

.navbar-inverse .navbar-nav>.open>a {
  background-image: -webkit-linear-gradient(top,#383D40 0,#383D40 100%);
  background-image: -o-linear-gradient(top,#383D40 0,#383D40 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#383D40),to(#383D40));
  background-image: linear-gradient(to bottom,#383D40 0,#383D40 100%);
}
/* END OVERRIDES */


/* NAVBAR */
.coursely-nav {
	background-color: rgb(42,46,49);
}

.coursely-nav .navbar-brand, .coursely-nav .navbar-nav>li>a {
	color: rgb(150,150,150);
	font-weight: bold;
}

.coursely-nav .user-icon {
	border-radius: 50%;
	width: 30px;
	margin-right: 10px;
}

.comment-body .user-icon {
	border-radius: 50%;
	width: 55px;
}

.teach-nav .btn-group button:first-child {
	background-color: rgb(220,82,45);
	color: rgb(234,153,127);
}

.teach-nav .btn-group button:first-child span {
	text-shadow: none;
}

.teach-nav .btn-group button:last-child {
	background-color: rgb(243,100,60);
	color: white;
	text-transform: none;
	font-weight: bold;
}

/* END NAVBAR */


/* BODY SECTION */
.body-content-container .lesson-container {
	padding-top: 35px;
}

.lesson-container .video-section {
	padding-bottom: 55px;
}

.lesson-container .video-section img {
	cursor: pointer;
}

.video-section .col-md-10 img:last-child {
	display: none;
}

.body-content-container .col-md-3 {
	padding: 0;
}

.lesson-top-number, .lesson-top-buttons {
	display: inline-block;
}

.lesson-top-buttons {
	float: right;
}

.lesson-top-buttons > button, .lesson-top-buttons > button:hover {
	color: white;
}

.lesson-top-buttons .btn-group button:first-child {
	background-color: rgb(115,192,202);
	color: white;
	text-transform: none;
}

.lesson-top-buttons .btn-group button:last-child {
	background-color: rgb(99,177,187);
	color: white;
	font-weight: bold;
}

.lesson-top-number span, .lesson-top-number h5 {
	display: inline-block;
	color: rgb(115,192,202);
	font-weight: bold;
}

.lesson-top > .row:first-child {
	border-bottom: 2px solid rgba(150,150,150,.2);
}

.lesson-top > .row {
	padding: 15px 0;
	margin-bottom: 20px;
}

.top-mini-panel img {
	width: 45px;
	border-radius: 50%;
}

.top-mini-panel h4, .lesson-resources p:first-child, .comment-top h4 {
	color: rgb(85,85,85);
}

.top-mini-panel {
	padding: 20px 0px;
}

.top-mini-panel .sub-header {
	text-align: center;
}

.top-mini-panel h4 {
	margin-top: 0px;
}

.top-mini-panel .sub-header p {
	display: inline-block;
	padding-right: 10px;
}

.top-mini-panel .sub-header p:first-child, .top-mini-panel .sub-header p:nth-child(2) {
	float: left;
}

.top-mini-panel .sub-header p {
	color: rgba(150,150,150,.5);
}

.top-mini-panel .sub-header p:nth-child(2) {
	color: rgb(115,192,202);
	font-weight: bold;
}

.top-mini-panel .sub-header p:nth-child(3):hover, .top-mini-panel .sub-header p:nth-child(5):hover, .top-mini-panel .sub-header p:nth-child(7):hover {
	cursor: pointer;
}

.top-mini-panel .sub-header p:first-child {
	color: rgb(150,150,150);
}

.top-mini-panel .sub-header p:nth-child(3):hover {
	color: rgba(255,215,0,.5);
}

.top-mini-panel .sub-header p:nth-child(5):hover {
	color: rgba(243,100,60,.5);
}

.top-mini-panel .sub-header p:nth-child(7):hover {
	color: rgba(115,192,202,.5);
}

/* Dynamic content added via JS */

.top-mini-panel .sub-header .favorite {
	color: rgb(255,215,0);
}

.top-mini-panel .sub-header .reuse {
	color: rgb(243,100,60);
}

.top-mini-panel .sub-header .mark-complete {
	color: rgb(115,192,202);
}

/* END BODY */

/* COMMENT SECTION */

.comment-top h4, .comment-top div {
	display: inline-block;
}

.comment-top .comment-number {
	margin-top: 23px;
}

.comment-top .comment-number p {
	display: inline-block;
	padding-left: 5px;
	color: rgb(233,110,103);
}

.comment-body {
	background-color: rgb(246,246,246);
	height: 185px;
	padding: 25px;
}

.comment-body button {
	float: right;
	color: white;
	text-transform: none;
	background-color: rgb(115,192,202);
}

.comment-body button:hover {
	background-color: rgb(99,177,187);
	color: rgba(255,255,255,.6);
}

.btn-default.disabled, .default.disabled:hover, .btn-default.disabled:hover, .btn-default.disabled:focus {
	background-color: rgba(115,192,202,.6);
	color: rgba(255,255,255,.6);
	cursor: not-allowed;
}

.comment-body textarea {
	background-color: #FFF;
	height: 90px;
	width: 100%;
	padding-left: 10px;
}

.comment-body .row:last-child {
	padding-top: 10px;
}

.comment-body .row:last-child .col-md-3 p {
	display: inline-block;
	font-weight: bold;
}

.comment-body .row:last-child .col-md-3 p:first-child {
	padding-right: 5px;
	color: rgb(233,110,103);
}

.comment-section .comments {
	padding-top: 35px;
}

.comment-section .comments > .col-md-10 {
	border-left: 2px solid rgba(150,150,150,.2);
}

.comments .current-comments, .comments .past-comments {
	margin-left: -43px;
}


@media screen and (max-width: 991px) {
	.comments .current-comments, .comments .past-comments {
		margin-left: 0px;
	}
}

.comments h5 {
	color: rgb(115,192,202);
}

.comments p {
	font-weight: bold;
}

.comments .main-comment img {
	width: 55px;
	border-radius: 50%;
}

.comments .sub-comment img {
	width: 35px;
	border-radius: 50%;
}

.comment-interaction .comment-like {
	padding-right: 20px;
}

.comment-interaction .comment-like, .comment-interaction .comment-flag, .comment-interaction span, .comment-interaction p {
	display: inline-block;
	cursor: pointer;
}

.current-comments .comment-interaction p, .current-comments .comment-interaction span {
	padding-right: 3px;
}

/* These classes are added dynamically with JS */

.comments .comment-active {
	background-color: rgb(246,246,246);
	margin-bottom: 10px;
	-webkit-transition: background .25s linear;
	-moz-transition: background .25s linear;
	-ms-transition: background .25s linear;
	-o-transition: background .25s linear;
	transition: background .25s linear;
}

.comments .liked-comment {
	color: rgb(115,192,202);
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	transition: color .25s linear;
}

.comments .flagged-comment {
	color: red;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	transition: color .25s linear;
}

.comment-interaction {
	display: none;
}

/* END COMMENT SECTION */


/* SIDE NAV SECTION */

.side-nav {
	background-color: rgb(243,100,60);
}

.side-nav-progress {
	background-color: rgb(230,91,52);
	height: 50px;
	padding-top: 22px;
}

.side-nav h3 {
	color: #FFF;
}

.side-nav > p {
	padding: 35px 20px 0px;
	font-weight: bold;
	color: rgba(255,255,255,0.5);
}

.side-nav h3, .side-nav .side-nav-progress, .side-nav .course-by, .side-nav-body div {
	padding: 15px 20px 5px;
}

.side-nav .course-by .col-md-8 p:first-child {
	color: rgba(255,255,255,0.5);
	margin: 0;
}

.side-nav .course-by .col-md-8 p:last-child {
	color: white;
	font-weight: bold;
}

.side-nav .course-by img {
	width: 40px;
	border-radius: 50%;
}

.lesson-plan {
	background-color: rgb(56,61,64);
	font-weight: bold;
}

.lesson-plan ul {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}

.lesson-plan ul:hover {
	background-color: rgba(255,255,255,.1);
	-webkit-transition: background .25s linear;
	-moz-transition: background .25s linear;
	-ms-transition: background .25s linear;
	-o-transition: background .25s linear;
	transition: background .25s linear;
}

.lesson-plan .inactive {
	list-style-image: url("../img/grey_dot.png")
}

.lesson-plan .current {
	list-style-image: url("../img/white_dot.png")
}

.lesson-plan .current li p {
	color: white;
}

.lesson-plan .current-complete {
	list-style-image: url("../img/circle_check.png")
}

.lesson-plan .complete {
	list-style-image: url("../img/circle_check.png")
}

.lesson-plan .complete li:last-child p {
	color: rgba(84,195,203);
}

.lesson-plan .complete li:first-child {
  background-color: rgba(44,48,49,.5);
}

.lesson-plan .complete li p {
	opacity: .5;
}

.lesson-plan ul li:first-child {
	background-color: rgb(44,48,49);
	width: 40%;
	text-align: center;
	height: 23px;
}

.lesson-plan ul li:last-child {
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(150,150,150,.2);
	list-style: none;
}

.lesson-plan ul li p {
	font-size: 13px;
}

.lesson-plan ul {
	margin-right: 15%;
}

.lesson-plan ul p {
	display: inline-block;
	margin: 0;
}

.lesson-plan ul .lesson-play {
	padding-right: 5%;
}

.side-nav-body .side-header {
	background-color: rgb(44,48,49);
	font-weight: bold;
	font-size: 15px;
}

.side-nav-body .side-header:first-child p {
	color: white;
}

.side-nav-progress {
	height: 100%;
}

.side-nav-progress .col-md-9 {
	padding-top: 7px;
}

.side-nav-progress .col-md-2 p {
	background-color: rgb(212,83,44);
	font-weight: bold;
	color: white;
	text-align: center;
	width: 40px;
}

.progress-bar {
	background-color: #FFF;
	background-image: none;
}

.progress-bar:last-child:before {
	background-color: rgb(212,80,42);
}

/* END SIDE NAV SECTION */